<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>project-name-war</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SearchAbilityServlet</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.SearchAbilityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmationServlet</servlet-name>
		<url-pattern>/confirmation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchForHelpServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PeopleSearchResults</servlet-name>
		<url-pattern>/search-user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendRequestServlet</servlet-name>
		<url-pattern>/friendrequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/messages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonalAreaServlet</servlet-name>
		<url-pattern>/personal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendshipAccepted</servlet-name>
		<url-pattern>/friendshipaccepted</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FriendshipRefused</display-name>
		<servlet-name>FriendshipRefused</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.FriendshipRefused</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendshipRefused</servlet-name>
		<url-pattern>/friendshiprefused</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReadNotification</display-name>
		<servlet-name>ReadNotification</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.ReadNotification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadNotification</servlet-name>
		<url-pattern>/readnotification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/editprofile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewAbilityRequestServlet</servlet-name>
		<url-pattern>/abilityrequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PromoteAdmin</servlet-name>
		<url-pattern>/promote</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HelpRequestServlet</display-name>
		<servlet-name>HelpRequestServlet</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.HelpRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelpRequestServlet</servlet-name>
		<url-pattern>/helprequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAbilityServlet</servlet-name>
		<url-pattern>/searchability</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Comment</display-name>
		<servlet-name>Comment</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.Comment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserImageServlet</servlet-name>
		<servlet-class>it.polimi.swimv2.servlet.UserImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserImageServlet</servlet-name>
		<url-pattern>/images/profile</url-pattern>
	</servlet-mapping>
</web-app>
