<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project-name-war</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProvaServlet</display-name>
    <servlet-name>ProvaServlet</servlet-name>
    <servlet-class>it.polimi.swimv2.servlet.ProvaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvaServlet</servlet-name>
    <url-pattern>/servlet/ProvaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>it.polimi.swimv2.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUsersServlet</display-name>
    <servlet-name>ViewUsersServlet</servlet-name>
    <servlet-class>it.polimi.swimv2.servlet.ViewUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsersServlet</servlet-name>
    <url-pattern>/view-users</url-pattern>
  </servlet-mapping>
</web-app>